* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*A partir de agora não usaremos mais medidas fixas, como o pixel, usaremos rem, que é uma medida responsiva*/

:root {
  font-size: 62.5%;
  /*Estou definindo que o tamanho padrão será apenas 62.5% do tamanho da fonte em que eu colocar, isso para que possamos usar o rem ao invés do px, alterando apenas uma casa decimal nas medidas*/
  /*O tamanho padrão de fontes no navegador costuma ser 16px, isso representa que se eu padronizar o site para 62.5% de 16, o tamanho padrão será de 10px. Dessa forma, cada rem(tamanho padrão) equivale a 10px, e será adaptável em cada tela ou zoom*/
}

body {
  font-family: 'Epilogue', sans-serif;
  background: #ECE9FD;
  padding: 6.0rem 2.3rem 6.6rem;
  font-size: 1.6rem;
} 

main{
  max-width: 33.0rem;
  margin: 0 auto;
}

& h1 {
  font-weight: 800;
  font-size: 4.0rem;
  line-height: 4.8rem;
  margin-bottom: 1.5rem;
}

main p:first-child{
  color: #7158EF;
  text-transform: uppercase;
  line-height: 3.2rem;
  margin-bottom: 1.7rem;
  letter-spacing: 0.3rem;
}

h1 + p{
  color: #7158EF;
  line-height: 3.2rem;
  margin-bottom: 3.2rem;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

a:hover{
  font-weight: bold;
}

ul{
  margin-top: 7.7rem;
  list-style: none;
}

ul li{
  color: #090039;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  max-width: 25.7rem;
  gap: 3.8rem;
}

ul li span{
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8rem;
  letter-spacing: -2px;  
}

ul li + li{
  margin-top: 3.2rem;
}

/*media queries*/
@media (min-width: 700px) {
  body{
    padding: 8rem;
  }
  main{
    display: flex;
    gap: 11.6rem;
    max-width: 100rem;
  }
  section{
    max-width: 48.5rem;
  }
  ul li{
    max-width: 40rem;
  };
}